body{
  
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 
}

#div_osn{
width: 80%;
 height: auto;
 margin: 0 auto;
    margin-bottom: 5%;
  padding-top: 60px; 
}
#kart1{
    width: 60%;
    height: 300px;
    background-image: url(1.jpg);
    float: right;
    background-size: cover;
    background-position: center;
}

#kart2{
    width: 100%;
    height: 200px;
    margin: 2% 0;
    background-image: url(2.png);
    float: right;
    background-size: cover;
    background-position: center;
}















/*-------------------*/
         /*@media*/
/*-------------------*/

@media (min-width: 1600px){
#div_osn{
      width: 78%;
    height:auto;
    margin-left: 4%;
}
    
}

/*-------------------*/
/*НОутбук*/
/*-------------------*/

@media (min-width: 769px) and (max-width: 992px) {
   
}

/*-------------------*/
/*планшет*/
/*-------------------*/

@media (min-width: 577px) and (max-width: 768px) {  
   
}

/*-------------------*/
/*МОБИЛЫ*/
/*-------------------*/

@media (min-width: 376px) and (max-width: 576px) {
   #div_osn{
width: 100%;
padding-left: 2%;
padding-right: 2%;      
}
 #kart1{
    width: 100%;
    height: 260px;
  
}
}


/*-------------------*/
/*МОБИЛЫ вертикальные*/
/*-------------------*/

@media (min-width: 300px) and (max-width: 375px) {
 #div_osn{
width: 100%;
padding-left: 2%;
padding-right: 2%;      
}
 #kart1{
    width: 100%;
    height: 260px;
  
}
    
}




