body{
  
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 
}

#div_osn{
width: 80%;
 height: auto;
 margin: 0 auto;
  padding-top: 60px; 
}


















/*-------------------*/
         /*@media*/
/*-------------------*/

@media (min-width: 1600px){
#div_osn{
      width: 78%;
    height:auto;
    margin-left: 4%;
}
    
}

/*-------------------*/
/*НОутбук*/
/*-------------------*/

@media (min-width: 769px) and (max-width: 992px) {
   
}

/*-------------------*/
/*планшет*/
/*-------------------*/

@media (min-width: 577px) and (max-width: 768px) {  
   
}

/*-------------------*/
/*МОБИЛЫ*/
/*-------------------*/

@media (min-width: 376px) and (max-width: 576px) {
  
}


/*-------------------*/
/*МОБИЛЫ вертикальные*/
/*-------------------*/

@media (min-width: 300px) and (max-width: 375px) {
 
}




